*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(231, 138, 157);
}
.wrapper{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 30em;
    background-color: black;
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.4);
}
span{
display: block;
text-align: center;
font-size: 80px;
}
p{
    margin: 30px 0;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    opacity: 0;
    font-weight: bold;
}
.fade{
opacity: 1;
transition-duration: .6s;
}
button{
    margin-top: 50px;
    font-size: 20px;
    background-color: rgb(129, 231, 238);
    color: black;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-weight: bold;

}
@media (max-width:429px){

.wrapper{
    width: 400px;
    font-size: 25px;
}
}
@media (max-width:394px){

    .wrapper{
        width: 370px;
        font-size: 25px;
    }
    }
    @media (max-width:376px){

        .wrapper{
            width: 355px;
            font-size: 25px;
        }
        }
        @media (max-width:361px){

            .wrapper{
                width: 330px;
                font-size: 25px;
            }
            }
            @media (max-width:321px){

                .wrapper{
                    width: 290px;
                    font-size: 25px;
                }
                }